* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  body {
    background: white;
    overflow-x: hidden;
  }
  
  
  /* Container da navbar */
  
  .Conteiner {
    width: 0px;
    margin: 0px auto;
    margin-right: 100%;
  }
  
  .colors {
    background: #2a7ca3;
  }
  
  /* Menu */
  
  .Vai-e-Volta-Menu .Vai-e-Volta-Menu * {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0;
  }
  
  .Vai-e-Volta-Menu {
    min-width: 260px;
    float: left;
    position: relative;
    box-shadow: 0 30px 50px #2a7ca3;
  }
  
  .Vai-e-Volta-Menu .Vai-e-Volta-Menu-footer,
  .Vai-e-Volta-Menu .Menu-Baixo {
    width: 100%;
    height: 50px;
    padding-left: 22px;
    float: left;
    font-weight: 600;
    color: #f0f0f0;
    background: #2a7ca3;
  }
  
  .Vai-e-Volta-Menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .Vai-e-Volta-Menu ul li a {
    width: 100%;
    padding: 14px 22px;
    float: left;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 13px;
    background: #2a7ca3;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    transition: color .2s linear, background .2s linear;
    -moz-transition: color .2s linear, background .2s linear;
    -webkit-transition: color .2s linear, background .2s linear;
    transition: color .2s linear, background .2s linear;
  }
  
  .Vai-e-Volta-Menu>ul>li.active>a,
  .Vai-e-Volta-Menu>ul>li:hover>a {
    color: #fff;
    background: #2986b1;
  }
  
  .Vai-e-Volta-Menu ul li a i {
    width: 34px;
    float: left;
    line-height: 18px;
    font-size: 16px;
    text-align: left;
  }
  
  .Vai-e-Volta-Menu .submenu-indicator {
    float: right;
    right: 22px;
    position: absolute;
    line-height: 19px;
    font-size: 20px;
    transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
  }
  
  .Vai-e-Volta-Menu ul ul.submenu .submenu-indicator {
    line-height: 16px;
  }
  
      .Vai-e-Volta-Menu ul ul.submenu .submenu-indicator {
        line-height: 16px;
      }
  
      .Vai-e-Volta-Menu .submenu-indicator-minus>.submenu-indicator {
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
  
      .Vai-e-Volta-Menu ul ul.submenu .submenu-indicator {
    line-height: 16px;
  }
  
  .Vai-e-Volta-Menu ul ul.submenu .submenu-indicator {
    line-height: 16px;
  }
  
  .Vai-e-Volta-Menu .submenu-indicator-minus > .submenu-indicator {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .Vai-e-Volta-Menu ul ul.submenu,
  .Vai-e-Volta-Menu ul ul.submenu li ul.submenu {
    width: 100%;
    display: none;
    position: static;
  }
  
  .Vai-e-Volta-Menu ul ul.submenu li {
    clear: both;
    width: 100%;
  }
  
  /* Cor de dentro da categoria */
  
  .Vai-e-Volta-Menu ul ul.submenu li a {
    width: 100%;
    float: left;
    font-size: 11px;
    background: #2986b1;
    border: black;
    position: relative;
  
    -o-transition: border .2s linear;
    -moz-transition: border .2s linear;
    -webkit-transition: border .2s linear;
    transition: border .2s linear;
  }
  .LogoInicio{
      width: 260px;
    }
  
  /* Default styles */
  
  .TituloInicio {
    position: relative;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    top: -20vh;
  }
  
  .SubTituloInicio {
    position: relative;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    top: -20vh;
  }
  
  .Img5Inicio {
    position: relative;
    float: right;
    top: 18vh;
    max-width: 600px;
  }
  
  .botaoAvancarInicio {
    position: relative;
  
    transform: translateX(-50%);
   margin-left: 12vh;
    width: 200px;
    height: 50px;
    margin-top: 5vh;
    margin-bottom: 3vh;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(57, 127, 233);
  }
  
  .botaoinicio {
    width: 30px;
  }
  
  
  
  
  @media (max-width: 1000px) {
  .imagem{
      width: 300px;
  }
  }
    