
:root {
   
    --primary-color: #2a7ca3;
    --primary-color-dark: #0f4c68;
    --gray: #F6F6F6;
    --botoes:rgb(57, 127, 233);
    --botoes-dark:rgb(30, 95, 192);  ;

}
html {
    font-size: 62.5%;
}



body{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    padding: 0;
     font-size: 2rem;
     background-repeat: no-repeat;
     height: 100vh;
     align-items: center;
     position: relative;
    background-size: 100%;
 height: 100vh;
}

img{
    max-width: 100%;
  
} 

.header nav{
        padding: 0.5rem;
    text-align: left;
    

}

.header  nav ul{
    padding: 0;
    list-style-type: none;
}

.header  nav .header-menu {
    padding: 0;
    list-style-type: none;
    
}



.header nav ul a{
    display: block;
    padding: 1.2rem ;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
   
}


.header nav ul a:hover,
.header nav ul a:focus{
    padding-right: 1rem;
    background-color: var(--primary-color-dark)
}

.header nav li{
    padding: 0rem 0;
   

   
}

 .img-logo a img {
    max-width: 100%;
    width: 150px;
    display: block;
    position:static;
    top: 0;
    left: 50%;
    
}




.menu-btn{
    display: none;
}




@media screen and (min-width: 46.25em) {
    .menu-btn,
    .menu-icon {
        display: none;
    }

}

/* hamburguer menu*/
.header {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    max-height: 0;
    overflow-x: hidden;
    background-color: white;
    transition: max-height .3s;
    margin: 0;
    padding: 1REM;
    padding-left: 1em;
    text-align: center;
}

.menu-btn:checked~.header-menu {
    max-height: 100vh;
}

.menu-btn:checked+.menu-icon .nav-icon {
    background-color: transparent;
}

.header-menu:focus-within {
    max-height: 100vh;
}

@media screen and (min-width: 46.25em) {
    .header-menu {
        position: static;
        max-height: initial;
        background-color:var(--primary-color-dark);
    }
}
.header  nav .header-menu {
    border-radius: 25px;
}

.header nav {
    display: flex;
    flex-direction: column;
}

.menu-icon {
    position: relative;
    cursor: pointer;
    height: 24px;
    /* user-select: none; */
}

.nav-icon {
    background-color: black;
    display: inline-block;
    height: 2px;
    width: 24px;
    position: relative;
}

.nav-icon {
    background-color: black;
    display: inline-block;
    height: 2px;
    width: 24px;
    position: relative;
}

.nav-icon::after,
.nav-icon::before {
    content: "";
    background-color: black;
        display: inline-block;
    height: 2px;
    width: 24px;
    position: absolute;
    transition: transform .2s;
}

.nav-icon::after {
    transform: translateY(8px);

}

.nav-icon::before {

    transform: translateY(-8px);
}

.menu-btn:checked+.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
}

.menu-btn:checked+.menu-icon .nav-icon::after {
    transform: rotate(45deg);
}

.menu-btn:focus-visible+.menu-icon {
    outline: 2px solid black;
    outline-offset: 3px;
}


.nav-img{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content:space-between;
    margin-bottom: 7rem;
    gap:  1rem    ;
}

.article-title{
    margin: 1.5rem;
    margin-left: 2rem ;
}

.botao-article{
    margin: 1rem;

}


.botao-article a{
        padding: 1rem;
        background-color: rgb(57, 127, 233);

        text-decoration: none;
        color: white;
        text-decoration: none;
        width: 200px;

        border-radius: 25px;
}

.botao-article a:hover,
.botao-article a:focus{
    background-color: var(--botoes-dark);
  

}

.article-title{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1,h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

h1 i{
    text-transform: uppercase;
}
.hero-title h1{
    padding: 0;
    margin: 0;
    font-size: 3rem;
}

.hero-title h1 ,
.hero-title h2
{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: var(--primary-color);
}

.hero-p{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;

}
.hero-img{
    max-width: 500px;
    display: block;
    margin-bottom: 2rem;
}

.hero{
   padding: 1em;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 2rem;
   margin: 1rem;
}


.hero2{
    padding: 1em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
.hero-button{
    margin-top: 1em;
    margin-bottom: 2rem;
   
}

.hero-button a{
    padding: 2rem;
    background-color: rgb(57, 127, 233);

    
    color: white;
    text-decoration: none;
    width: 200px;
    border: black solid;
    border-radius: 15px;
    box-shadow: 2px 5px 2px inset var(--botoes-dark);
}

.hero-button a:hover,
.hero-button a:focus{
    background-color: var(--botoes-dark);
  

}

.hero-button{
    margin-left: 1vw;
}

@media screen and (min-width: 740px) {
    .header {
        margin: 0.2rem;
    }

    .article-title{
            display: grid;
        align-items: center;
           
         
    }
    .trecho-article{
        grid-column:  2 /2 ;
      
    }


    .card-title{
            display: flex;
            flex-direction: column;
            width: 350px;
            margin: 0.5rem;

    }

    .botao-article{
        grid-column: botao;
       padding-left: 3rem;
    }

    .article-img{
        grid-column:img;
        width: 300px;

    }
    .nav-img{
        justify-content: space-between;
        display: flex;
    }

    .img-logo  a{
        width: 300px;
        position:absolute;
        top: 0%;
        left: 75%;
        right: 0;
   }



  .sub-menu {
   
    cursor: pointer;
    border-radius: 0;
    transition: opacity 0.3s ease, max-height 0.5s ease;
    
  }
  

  .sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out; 
    cursor: pointer;
  }
  
  .sub-menu.active {
    max-height: 200px; /* Altura máxima do submenu aberto */
  }
  .hero{
    width: 90%;
    margin: 1rem;
  }
  
  .hero-conteudo{
    width: 90%;
    margin: 1rem;
  }
  .cards{
    flex-direction: row;
    display: flex;
    
  }

  .Rede-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }
  .rede{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .card-rede{
    flex-direction: row;
    justify-content: space-around;
 
  }
 


     

}

@media screen and (min-width: 75.625em) {
       body{
        position: relative;
        overflow-x: hidden;
        align-items: center;
       }

        .nav-img{
            display: block;
            grid-template: 
            "Nav  .   logo" 70px
            "nav article  article" /
            1fr 1fr 1fr

            
            ;
        }
        .header {
            width: 300px;
           
        }
      


        .img-logo img{
            position:absolute;
            top: 100%;
            left: 100px;
        }

        .img-logo  a{
             width: 300px;
             position:absolute;
             top: 0%;
             left: 85%;
             right: 0;
        }


        .nav-img{
            display: block;
            justify-content: start;
            

            
        }

        .article-title{
            margin-top: -30vh;
        }


        .Container-hero{
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
             gap: 1em;
        }

        .card-container .card-title{

            width: 65%;
            margin: 0;
        }


       


.article-title{       
     width: 50%;
     margin-top: - 100vh;
    margin-left: 25vw;
       position: fixed;
}


.hero{
    width: 50%;
    margin-left: 25vw;
}
.hero-conteudo{
    margin-top: -40vh;
}

.hero-button{
    margin-left: 30vw;
}
.cards{
    flex-direction: row;
}
}


.hero h5 {
    color: var(--primary-color);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
    box-shadow: 0 2px 4px var(--primary-color-dark);
 
    max-width: 300px;
    /* Ajuste o valor máximo de largura dos cards conforme desejado */
    background-color: whitesmoke;
    border-color: rgb(57, 127, 233);
    border-radius: 8px;
    margin: 10px;
    height: 200px;
}

.card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
    box-shadow: 2px 5px 4px inset var(--primary-color-dark);
    width: 500px;
    max-width: 300px;
    /* Ajuste o valor máximo de largura dos cards conforme desejado */
    background-color: whitesmoke;
    border-color: 5px rgb(57, 127, 233);
    border-radius: 15px;
    margin: 1rem;
    height: 200px;
}

.card-line {
    border: none;
    border-top: 1px solid rgb(57, 127, 233);
    margin: 20px 20px;
}




.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -5px;
    align-items: center;
}



.card-button{
    margin-top: 1rem;
    margin-left:10rem ;
    margin-bottom: 1.5rem;
}

.card-button a{
    padding: 1rem;
    background-color: rgb(57, 127, 233);
    color: white;
    text-decoration: none;
    width: 150px;
    border: black solid;
    border-radius: 15px;
    box-shadow: 2px 3px 2px  var(--botoes-dark);
   
}

.card-button a:hover,
.card-button a:focus{
    background-color: var(--botoes-dark);
  

}
.card-container h5,
.card-container h1
{
    font-size: 24px;
    color: rgb(57, 127, 233);
    margin-left: 2.5rem;
    margin-bottom: 0;
    padding: 0;
}

.Container-hero{
    margin: 2rem;
}

.card-title{
    font-size: 2rem;
    color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.cards{
   
    justify-content: center;
    gap: 1rem;
   
    margin-left: 2.5em;
    max-width: 100%;
}
.contato{
    margin: 1rem;
    padding: 1rem;
}

.Container{
    margin: 1rem;
    padding: 1rem;
}

.Rede_social li a img{
    width: 50px;
    max-width: 70px;
    max-height: 50px;
}

.Rede-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }

  .Rede_social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    
  }

  .Rede_social ul li {
    position: relative;
    background: black;
    list-style: none;
    margin: 5px;
    z-index: 1;
    overflow: hidden;
    border-radius: 3px;
    font-size: 1.5em;
    text-align: center;
   height:60px;
   width: 50px;
  }

  .Rede_social ul li::before {
    transition: 0.4s;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 90%;
    left: 0;
    background: #2a7ca3;
    z-index: -1;
    transform: scale(1);
    transition: 0.4s;
  }

  .Rede_social ul li:hover::before {
    transition: 0.4s;
    top: 0%;
  }

  .Rede_social ul li a:hover {
    color: rgb(57, 127, 233);
  }

  .card-rede{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .card-title{
    align-items: center;
  }

  .botao-article I{
    font-size: 1.5em;
  }